@charset "UTF-8";

@media screen and (max-width: 1300px) {

    /* SEÇÃO DO TOPO  */
    .container {
        max-width: 950px;
    }

    /* ÁREA DE INTRODUÇÃO */
    .secaoTopo__areaIntroducao img {
        width: 100%;
        max-width: 28rem;
    }

    /* DOWN ARROW  */
    .container > img {
        top: 35rem;
    }

    /* SEÇÃO DESCRIÇÃO DO APP */
    .secaoDescricaoApp, .secaoApresentacaoPratos {
        padding: 3rem;
    }

    /* LISTA DE ATIVIDADES */
    .secaoAtividade__listaAtividades {
        gap: 1.5rem;
    }

    /* SEÇÃO APRESENTAÇÃO DE PRATOS  */
    .secaoApresentacaoPratos__descricaoPrato img {
        max-width: 40rem;
        padding-inline: 5rem;
    }
}

@media screen and (max-width: 1020px) {
    
    /* ÁREA DE INTRODUÇÃO */
    .secaoTopo__areaIntroducao {
        flex-direction: column;
    }

    /* DOWN ARROW  */
    .container > img {
        top: 62rem;
    }

}

@media screen and (max-width: 936px) {
    
    /* MENU */
    .secaoTopoCabecalho__listaMenu {
        display: none;
    }

    /* DESCRIÇÃO TÍTULO E IMAGEM  */
    .tituloImagem__divisao,
    .secaoAtividade__listaAtividades, 
    .secaoDadosPublicacoes__listaDados,
    .secaoApresentacaoPratos__descricaoPrato {
        gap: 3.5rem;
        flex-direction: column;
    }

    .descricao h2 {
        max-width: 100%;
    }

    .tituloImagem__divisao img {
        max-width: 37rem;
    }

    .order {
        order: 1;
    }

    .descricao {
        max-width: 100%;
        text-align: center;
    }

    /* SEÇÃO COM NÚMERO DE DADOS E PUBLICAÇÕES  */
    .secaoDadosPublicacoes {
        margin-bottom: 0;
    }

    /* SEÇÃO APRESENTAÇÃO DE PRATOS */
    .secaoApresentacaoPratos__descricaoPrato {
        margin-bottom: 5rem;
    }

    .secaoApresentacaoPratos__descricaoPrato img {
        width: 100%;
        max-width: 30rem;
        padding-inline: 0rem;
    }
    
}

@media screen and (max-width: 670px) {

    /* DOWN ROW */
    .container > img {
        top: 59rem;
    }

    /* ÁREA DE INTRODUÇÃO */
    .areaIntroducao__tituloDescricao h1 {
        font-size: 4em;
    }
    
    .areaIntroducao__tituloDescricao p {
        font-size: 1.3em;
    }

    /* SEÇÃO APP FOOD */
    .secaoAppFood h2 {
        font-size: 2em;
    }

    .tituloImagem__divisao img {
        width: 27rem;
    }

    /* SEÇÃO DE ATIVIDADE DO APP  */
    .secaoAtividade, .secaoDadosPublicacoes {
        margin-bottom: 1rem;
    }

    /* ÁREA DE PEGAR ATUALIZAÇÕES NOVAS  */
    .rodape__pegarAtualizacoes h2 {
        text-align: center;
    }

    /* SEÇÃO PRONTO PARA COMEÇAR  */
    .secaoProntoComecar__links {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }

    .secaoProntoComecar__links a {
        width: 100%;
    }

    /* RODAPÉ */
    .rodape {
        gap: 4rem;
    }

    .pegarAtualizacoes__inputBox input {
        max-width: 15rem;
        width: 100%;
    }

    .rodape__creditos {
        width: 100%;
        padding-inline: 2rem;
    }

    .creditos__listaCreditos {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {

    /* ÁREA DE INTRODUÇÃO */
    .areaIntroducao__tituloDescricao h1 {
        font-size: 3em;
    }
    
    .areaIntroducao__tituloDescricao p {
        font-size: 1.1em;
    }

    /* DOWN ROW */
    .container > img {
        top: 54rem;
    }

    /* SEÇÃO APP FOOD */
    .secaoAppFood {
        padding-inline: 2rem;
    }

    .descricao p {
        color: var(--cinza-escuro);
        font-size: 1em;
        line-height: 1.8em;
    }

    .spanCinza {
        font-size: 0.7em;
    }

    .secaoAppFood h2 {
        font-size: 1em;
    }

    /* DESCRIÇÃO TÍTULO E IMAGEM  */
    .descricao h2 {
        font-size: 2em;
    }

    .listaAtividades__item p {
        color: var(--cinza);
        font-size: 0.9em;
    }

    /* LISTA DE DADOS */
    .listaDados__item span {
        font-size: 2.9rem;
        line-height: 3.5rem;
    }

    /* SEÇÃO PRONTO PARA COMEÇAR */
    .secaoProntoComecar h2 , .rodape__pegarAtualizacoes h2 {
        font-size: 1.3em;
    }

}