@charset "UTF-8";

@media screen and (max-width: 1300px) {

    /* SEÇÃO DO TOPO  */
    .container {
        max-width: 950px;
    }

    /* ÁREA DE INTRODUÇÃO */
    .secaoTopo__areaIntroducao img {
        width: 100%;
        max-width: 28rem;
    }

    /* SEÇÃO DESCRIÇÃO DO APP */
    .secaoDescricaoApp, .secaoApresentacaoPratos {
        padding: 3rem;
    }

    /* LISTA DE ATIVIDADES */
    .secaoAtividade__listaAtividades {
        gap: 2.5rem;
    }

    /* SEÇÃO APRESENTAÇÃO DE PRATOS  */
    .secaoApresentacaoPratos__descricaoPrato img {
        max-width: 40rem;
        padding-inline: 5rem;
    }
}

@media screen and (max-width: 1020px) {
    
    /* CABEÇALHO */
    .secaoTopo {
        padding: 1.3rem;
    }

    /* ÁREA DE INTRODUÇÃO */
    .secaoTopo__areaIntroducao {
        flex-direction: column;
    }

    .areaIntroducao__tituloDescricao {
        padding-bottom: 6rem;
    }

}

@media screen and (max-width: 936px) {

    .secaoTopo {
        padding-top: 10rem;
    }

    /* CABEÇALHO SCROLL */
    .secaoTopoCabecalho {
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        z-index: 2;
    }
    
    .secaoTopoCabecalho.scroll {
        background-color: var(--rosa);
    }

    /* BTN MENU */
    #secaoTopo__btnMenu {
        display: block;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 2.6em;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
    }

    /* MENU */
    .secaoTopoCabecalho__listaMenu {
       display: block;
       background: black;
       position: absolute;
       left: 0;
       right: 0;
       height: 0;
       visibility: hidden;
       overflow-y: hidden;
       top: 5rem;
       transition: .3s;
    }
    
    /* MENU APARECERÁ AO SEU ATIVADO .ativado */
    #secaoTopo__btnMenu.ativado {
        background-color: black;
    }
    
    .secaoTopoCabecalho__listaMenu.ativado { 
        visibility: visible;
        height: calc(21.9rem - 4.3rem);
    }
    
    .listaMenu__item a {
        padding: 1.4rem;
        border-bottom: 2px solid white;
        transition: .5s;
    }

    .listaMenu__item a:hover {
        background: white;
        color: black;
    }

    .listaMenu__item .underline {
        display: none;
    }

    /* DESCRIÇÃO TÍTULO E IMAGEM  */
    .tituloImagem__divisao,
    .secaoAtividade__listaAtividades, 
    .secaoDadosPublicacoes__listaDados,
    .secaoApresentacaoPratos__descricaoPrato {
        gap: 3.5rem;
        flex-direction: column;
    }

    /* SEÇÃO APRESENTAÇÃO DE PRATOS */
    .descricao {
        max-width: 100%;
        text-align: center;
    }

    .descricao h2 {
        max-width: 100%;
    }

    .tituloImagem__divisao img {
        max-width: 37rem;
    }

    .order {
        order: 1;
    }

    /* SEÇÃO COM NÚMERO DE DADOS E PUBLICAÇÕES  */
    .secaoDadosPublicacoes {
        margin-bottom: 0;
    }

    /* SEÇÃO APRESENTAÇÃO DE PRATOS */
    .secaoApresentacaoPratos__descricaoPrato {
        margin-bottom: 5rem;
    }

    .secaoApresentacaoPratos__descricaoPrato img {
        width: 100%;
        max-width: 30rem;
        padding-inline: 0rem;
        margin: auto;
    }
    
}

@media screen and (max-width: 670px) {

    /* ÁREA DE INTRODUÇÃO */
    .areaIntroducao__tituloDescricao h1 {
        font-size: 4em;
    }
    
    .areaIntroducao__tituloDescricao p {
        font-size: 1.3em;
    }

    /* SEÇÃO APP FOOD */
    .secaoAppFood h2 {
        font-size: 2em;
    }

    .tituloImagem__divisao img {
        min-width: 27rem;
    }

    /* SEÇÃO DE ATIVIDADE DO APP  */
    .secaoAtividade, .secaoDadosPublicacoes {
        margin-bottom: 1rem;
    }

    /* ÁREA DE PEGAR ATUALIZAÇÕES NOVAS  */
    .rodape__pegarAtualizacoes h2 {
        text-align: center;
    }

    /* SEÇÃO PRONTO PARA COMEÇAR  */
    .secaoProntoComecar__links {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }

    .secaoProntoComecar__links a {
        width: 100%;
    }

    /* RODAPÉ */
    .rodape {
        gap: 4rem;
    }

    /* ÁREA DE PEGAR ATUALIZAÇÕES NOVAS */
    .pegarAtualizacoes__inputBox input {
        max-width: 15rem;
        width: 100%;
    }

    /* CRÉDITOS */
    .rodape__creditos {
        width: 100%;
        padding-inline: 2rem;
    }

    .creditos__listaCreditos {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {

    /* ÁREA DE INTRODUÇÃO */
    .areaIntroducao__tituloDescricao h1 {
        font-size: 3em;
    }
    
    .areaIntroducao__tituloDescricao p {
        font-size: 1.1em;
    }

    /* SEÇÃO APP FOOD */
    .secaoAppFood {
        padding-inline: 2rem;
    }

    .spanCinza {
        font-size: 0.7em;
    }

    .secaoAppFood h2 {
        font-size: 1.2em;
    }

    /* SEÇÃO DESCRIÇÃO DO APP */
    .descricao h2 {
        font-size: 2em;
    }

    .descricao p {
        color: var(--cinza-escuro);
        font-size: 1em;
        line-height: 1.8em;
    }
    
    /* SEÇÃO DESCRIÇÃO DO APP  */
    .tituloImagem__divisao img {
        min-width: 23rem;
    }

    /* SEÇÃO DE ATIVIDADE DO APP */
    .listaAtividades__item p {
        font-size: 0.9em;
    }

    /* SEÇÃO COM NÚMERO DE DADOS E PUBLICAÇÕES */
    .listaDados__item span {
        font-size: 2.9rem;
        line-height: 3.5rem;
    }

    .listaDados__item p {
        font-size: 1em;
    }

    /* SEÇÃO PRONTO PARA COMEÇAR */
    .secaoProntoComecar h2 , .rodape__pegarAtualizacoes h2 {
        font-size: 1.3em;
    }

    /* ÁREA DE PEGAR ATUALIZAÇÕES NOVAS */
    .pegarAtualizacoes__inputBox input {
        max-width: 11rem;
        padding: 1.2rem;
    }

}