@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;500;600;700;800&display=swap');

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORES */
:root {
    --branco: #FFFFFF;
    --cinza: #878787;
    --rosa: #FD0B7D;
    --cinza-escuro: #1B1B1B;
    --preto: #000000;
}


/* CORPO */
body {
    font-family: 'Gothic A1', sans-serif;
}

/* SEÇÃO DO TOPO */
.secaoTopo {
    background-image: linear-gradient(135deg, #dd1173, #350e47);
    padding: 2.3rem;
}

.container {
    max-width: 1500px;
    margin: auto;
    position: relative;
}

/* CABEÇALHO */
.secaoTopoCabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.secaoTopoCabecalho a {}

.secaoTopoCabecalho a img {
    max-width: 7.5rem;
    width: 100%;
}

/* MENU */
.secaoTopoCabecalho__listaMenu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.listaMenu__item {}

.listaMenu__item a {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.2em;
    padding: 0.8rem 0;
    display: block;
}

.listaMenu__item a:hover ~ .underline  {
    overflow: auto;
    visibility: visible;
}

.listaMenu__item .underline {
    background-color: var(--branco);
    height: 5px;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
}

/* ÁREA DE INTRODUÇÃO */
.secaoTopo__areaIntroducao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.areaIntroducao__tituloDescricao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--branco);
    padding-bottom: 10rem;
}

.areaIntroducao__tituloDescricao h1 {
    font-size: 6em;
}

.areaIntroducao__tituloDescricao p {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.areaIntroducao__tituloDescricao a {
    color: var(--branco);
    text-decoration: none;
    background: var(--rosa);
    width: 10rem;
    height: 3.8rem;
    font-size: 1.1em;
    padding: 1.2rem 1.9rem;
    border-radius: 5px;
    font-weight: 600;
    transition: .7s;
}

.areaIntroducao__tituloDescricao a:hover {
    background: var(--branco);
    color: var(--preto);
}

.secaoTopo__areaIntroducao img {}

.container > img {
    display: block;
    position: absolute;
    top: 54rem;
    right: 50%;
}

/* CONTÉUDO */
.conteudoPrincipal {}

/*  SEÇÃO APP FOOD */
.secaoAppFood {
    background-color: var(--cinza-escuro);
    padding-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.spanCinza {
    color: var(--cinza);
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
}

.secaoAppFood h2 {
    color: var(--branco);
    font-size: 2.6em;
    max-width: 42rem;
    text-align: center;
    margin-bottom: 1rem;
}

.secaoAppFood img {
    display: block;
    width: 100%;
    max-width: 75rem;
}

/* SEÇÃO DESCRIÇÃO DO APP */
.secaoDescricaoApp  {
    padding: 6rem;
}

.secaoDescricaoApp .container, .secaoApresentacaoPratos .container  {
    margin: auto;
    max-width: 1200px;
}

/* DESCRIÇÃO TÍTULO E IMAGEM  */
.secaoDescricaoApp__tituloImagem {}

.tituloImagem__divisao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.descricao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 21rem;
}

.descricao span {}

.descricao h2 {
    font-size: 2.6em;
    max-width: 20rem;
}

.descricao p {
    color: var(--cinza-escuro);
    font-size: 1.1em;
    line-height: 1.8em;
}

.tituloImagem__divisao img {
    width: 100%;
    max-width: 42rem;
    display: block;
    padding-inline: 10rem;
}

/* SEÇÃO DE ATIVIDADE DO APP */
.secaoAtividade, .secaoDadosPublicacoes  {
    margin-bottom: 7rem;
    padding: 2rem;
}

.secaoAtividade__listaAtividades {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}

.listaAtividades__item {
    line-height: 2.2rem;
}

.listaAtividades__item img {
    margin-bottom: 1rem;
}

.listaAtividades__item h3 {}

.listaAtividades__item p {
    color: var(--cinza);
}

/* SEÇÃO COM NÚMERO DE DADOS E PUBLICAÇÕES  */
.secaoDadosPublicacoes {}

.secaoDadosPublicacoes__listaDados {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}

.listaDados__item {}

.listaDados__item span {
    font-size: 3.9rem;
    line-height: 6.5rem;
}

.listaDados__item p {
    font: 1.3em;
}

/* SEÇÃO APRESENTAÇÃO DE PRATOS */
.secaoApresentacaoPratos {}

.secaoApresentacaoPratos__descricaoPrato {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.secaoApresentacaoPratos__descricaoPrato a {
    color: var(--preto);
    text-decoration: underline;
}

.secaoApresentacaoPratos__descricaoPrato img {
    width: 100%;
    max-width: 47rem;
    padding-inline: 8rem;
}

/* SEÇÃO SLIDER ainda vai ser feito*/ 

/* SEÇÃO DE MARCAS PATROCINADORES */
.secaoMarcasPatrocinadores {}

.secaoMarcasPatrocinadores img {
    display: block;
}

.secaoMarcasPatrocinadores #img1 {
    max-width: 95rem;
    width: 100%;
    margin: auto auto 4rem auto;
}

.secaoMarcasPatrocinadores #img2 {
    width: 100%;
    max-width: 1860px;
    margin: auto;
}

/* SEÇÃO PRONTO PARA COMEÇAR */
.secaoProntoComecar {
    height: 35rem;
    background-image: linear-gradient(135deg, #fc0a7e, #602bb6);
}   
.secaoProntoComecar .fundo {
    z-index: 10;
    height: 35rem;
    width: 100%;
    background-image: url("https://uploads-ssl.webflow.com/5af49de0dbb1e3637f2d8886/5b11c1af7f519f50eaefd140_wavy-bg.svg");
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    font-size: 1.5em;
}   

.secaoProntoComecar h2 {
    color: var(--branco);
}

.secaoProntoComecar__links {}

.secaoProntoComecar__links a {
    text-decoration: none;
    color: var(--branco);
    width: 10rem;
    height: 3.8rem;
    padding: 1.2rem 1.9rem;
    border-radius: 2px;
    font-weight: 600;
    transition: .7s;
    font-size: 0.7em;
}

.secaoProntoComecar__links #linkDownLoad {
    background: var(--rosa);
    margin-right: 1rem;
}
.secaoProntoComecar__links #linkDownLoad:hover {
    background: var(--branco);
    color: var(--preto);
}

.secaoProntoComecar__links #linkGetIn {
    border: 2px solid #FFFFFF4f;
}
.secaoProntoComecar__links #linkGetIn:hover {
    border: 2px solid #FFFFFF;
}

/* RODAPÉ */
.rodape {
    background-color: var(--cinza-escuro);
    padding-top: 7rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.rodape__pegarAtualizacoes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.rodape__pegarAtualizacoes h2 {
    color: var(--branco);
    font-size: 2.4em;
}

.rodape__pegarAtualizacoes p {
    color: var(--cinza);
}

/* ÁREA DE PEGAR ATUALIZAÇÕES NOVAS */
.pegarAtualizacoes__inputBox {
    display: flex;
}

.pegarAtualizacoes__inputBox input {
    padding: 1.5rem;
    width: 19rem;
    font-size: 1em;
    border-radius: 5px 0px 0px 5px;
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .5s;
    outline: none;
}

.pegarAtualizacoes__inputBox input:hover {
    border: 2px solid var(--rosa);
}

.pegarAtualizacoes__inputBox button {
    width: 9rem;
    transition: .5s;
    cursor: pointer;
    background-color: var(--rosa);
    color: var(--branco);
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.1em;
}

.pegarAtualizacoes__inputBox button:hover {
    background-color: var(--preto);
}

/* CRÉDITOS */
.rodape__creditos {}

.rodape__creditos img {
    display: block;
    width: 100%;
    max-width: 7.5rem;
    margin: auto auto 1.4rem auto;
}

.creditos__listaCreditos {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.listaCreditos__itemCredito {}

.listaCreditos__itemCredito a {
    text-decoration: none;
    color: var(--cinza);
    font-size: 0.86em;
}

.listaCreditos__itemCredito a:hover {
    color: var(--branco);
}