@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;500;600;700;800&display=swap');

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORES */
:root {
    --branco: #FFFFFF;
    --cinza: #D3D3D3;
    --rosa: #FD0B7D;
    --cinza-escuro: #1B1B1B;
    --preto: #000000;
}


/* CORPO */
body {
    font-family: 'Gothic A1', sans-serif;
}

/* SEÇÃO DO TOPO */
.secaoTopo {
    background-image: linear-gradient(135deg, #dd1173, #350e47);
    padding: 2rem;
}

.container {
    max-width: 1500px;
    margin: auto;
}

/* CABEÇALHO */
.secaoTopoCabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.secaoTopoCabecalho a {}

.secaoTopoCabecalho a img {
    max-width: 7.5rem;
    width: 100%;
}

/* MENU */
.secaoTopoCabecalho__listaMenu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.listaMenu__item {}

.listaMenu__item a {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.2em;
    padding: 0.8rem 0;
    display: block;
}

.listaMenu__item a:hover ~ .underline  {
    overflow: auto;
    visibility: visible;
}

.listaMenu__item .underline {
    background-color: var(--branco);
    height: 5px;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
}

/* ÁREA DE INTRODUÇÃO */
.secaoTopo__areaIntroducao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.areaIntroducao__tituloDescricao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--branco);
    padding-bottom: 10rem;
}

.areaIntroducao__tituloDescricao h1 {
    font-size: 6em;
}

.areaIntroducao__tituloDescricao p {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.areaIntroducao__tituloDescricao a {
    color: var(--branco);
    text-decoration: none;
    background: var(--rosa);
    width: 10rem;
    height: 3.8rem;
    font-size: 1.1em;
    padding: 1.2rem 1.9rem;
    border-radius: 5px;
    font-weight: 600;
    transition: .7s;
}

.areaIntroducao__tituloDescricao a:hover {
    background: var(--branco);
    color: var(--preto);
}

.secaoTopo__areaIntroducao img {}

.container > img {
    display: block;
    position: absolute;
    top: 54rem;
    right: 57rem;
}

/* CONTÉUDO */
.conteudoPrincipal {}

/*  SEÇÃO APP FOOD */
.secaoAppFood {}

.secaoAppFood p {}

.secaoAppFood h2 {}

.secaoAppFood img {
    width: 1rem;
}

/* SEÇÃO DESCRIÇÃO DO APP */
.secaoDescricaoApp {}

/* DESCRIÇÃO TÍTULO E IMAGEM  */
.secaoDescricaoApp__tituloImagem {}

.tituloImagem__divisao {}

.descricao {}

.descricao span {}

.descricao h2 {}

.descricao p {}

.tituloImagem__divisao img {
    width: 1rem;
}

/* SEÇÃO DE ATIVIDADE DO APP */
.secaoAtividade {}

.secaoAtividade__listaAtividades {}

.listaAtividades__item {}

.listaAtividades__item img {}

.listaAtividades__item h3 {}

.listaAtividades__item p {}

/* SEÇÃO COM NÚMERO DE DADOS E PUBLICAÇÕES  */
.secaoDadosPublicacoes {}

.secaoDadosPublicacoes__listaDados {}

.listaDados__item {}

.listaDados__item span {}

.listaDados__item p {}

/* SEÇÃO APRESENTAÇÃO DE PRATOS */
.secaoApresentacaoPratos {}

.secaoApresentacaoPratos__descricaoPrato {}

.secaoApresentacaoPratos__descricaoPrato img {}

/* SEÇÃO SLIDER ainda vai ser feito*/ 

/* SEÇÃO DE MARCAS PATROCINADORES */
.secaoMarcasPatrocinadores {}

.secaoMarcasPatrocinadores img {
    width: 1rem;
}

/* SEÇÃO PRONTO PARA COMEÇAR */
.secaoProntoComecar {}

.secaoProntoComecar h2 {}

.secaoProntoComecar__links {}

.secaoProntoComecar__links a {}

/* RODAPÉ */
.rodape {}

.rodape__pegarAtualizacoes {}

.rodape__pegarAtualizacoes h2 {}

.rodape__pegarAtualizacoes p {}

/* ÁREA DE PEGAR ATUALIZAÇÕES NOVAS */
.pegarAtualizacoes__inputBox {}

.pegarAtualizacoes__inputBox input {}

.pegarAtualizacoes__inputBox button {}

/* CRÉDITOS */
.rodape__creditos {}

.rodape__creditos img {}

.creditos__listaCreditos {}

.listaCreditos__itemCredito {}

.listaCreditos__itemCredito a {}